
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

body{
    background-size: cover;
    background-position: center;
}

canvas{
    border: 5px black solid;
    border-radius: 15px;
    box-shadow: 5px 5px 5px gray;
    margin-top: 30px;
}

